// styles for vars file
:root {
  --brand-color-red: #d41443;
  --brand-color-pink: #fea5bb;
  --brand-color-pink-label: #ffa5ba;
  --brand-color-pink-background: #fff5f6;
  --brand-color-pink-dark: #ffb8ca;
  --brand-color-background: #e5e5e5;
  --brand-color-gray: #907e82;
  --brand-color-white: #fff;
  --brand-color-black: #000;
  --brand-color-ghost: #ecebeb;
  --brand-font-weight: 500;
  --brand-font-weight-bold: 700;
  --brand-letter-spacing: 0.04em;
  --brand-font-family-Titan: 'Titan One';
  --brand-font-family-DM: 'DM Sans';
}

.about {
  background-color: var(--brand-color-pink-background);
  &__container-motto {
    font-family: var(--brand-font-family-Titan);
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: var(--brand-color-pink-label);
    padding-top: 60px;
    padding-bottom: 15px;
  }
  &__container-title {
    font-family: var(--brand-font-family-Titan);
    font-weight: 400;
    font-size: 34px;
    line-height: 39px;
    text-align: center;
    letter-spacing: var(--brand-letter-spacing);
    text-transform: uppercase;
    color: var(--brand-color-red);
    padding-bottom: 32px;
  }
  &__container-main-first-text {
    font-family: 'DM Sans';
    font-weight: var(--brand-font-weight);
    font-size: 12px;
    line-height: 19px;
    color: var(--brand-color-black);
    margin-bottom: 40px;
  }
  &__container-main-second-text {
    font-family: var(--brand-font-family-DM);
    font-weight: var(--brand-font-weight);
    font-size: 12px;
    line-height: 19px;
    color: var(--brand-color-gray);
    margin-bottom: 10px;
  }
  &__container-main-third-text {
    font-family: var(--brand-font-family-DM);
    font-weight: var(--brand-font-weight);
    font-size: 12px;
    line-height: 19px;
    color: var(--brand-color-gray);
    margin-bottom: 20px;
  }
  &__container-main-button {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    background: var(--brand-color-white);
    font-family: var(--brand-font-family-DM);
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    border-radius: 22px;
    border: 2px solid var(--brand-color-red);
    width: 176px;
    height: 44px;
    color: var(--brand-color-red);
    border: none;
  }
  &__container-main-button-svg {
    margin-left: 13.62px;
    color: var(--brand-color-red);
  }
}

.about__container-main-button:hover {
  background-color: var(--brand-color-ghost);
  font-size: 1.2em;
  border-radius: 22px;
  cursor: pointer;
  transform: translateY(-10px);
  box-shadow: 4px 4px 20px var(--brand-color-red);
}
.about__container-main-right {
  background-image: url(/src/images/About/milk-background-M-320.png);
  background-repeat: no-repeat;
  background-position: left;
  display: flex;
  flex-direction: column;
}

// /* Responsive Design */

@media screen and (min-width: 768px) {
  .about {
    &__container-motto {
      font-family: var(--brand-font-family-Titan);
      font-weight: 400;
      font-size: 26px;
      line-height: 30px;
      text-align: center;
      text-transform: uppercase;
      color: var(--brand-color-pink-label);
    }
    &__container-title {
      font-family: var(--brand-font-family-Titan);
      font-weight: 400;
      font-size: 48px;
      line-height: 55px;
      text-align: center;
      letter-spacing: var(--brand-letter-spacing);
      text-transform: uppercase;
      color: var(--brand-color-red);
      padding-bottom: 40px;
    }
    &__container-main {
      display: flex;
      gap: 32px;
      padding-bottom: 60px;
    }

    &__container-main-first-text {
      font-size: 14px;
      line-height: 25px;
      letter-spacing: 0.04em;
    }
    &__container-main-second-text {
      font-size: 14px;
      line-height: 25px;
      color: var(--brand-color-gray);
      margin-bottom: 15px;
      letter-spacing: var(--brand-letter-spacing);
    }
    &__container-main-third-text {
      font-size: 14px;
      line-height: 25px;
      color: var(--brand-color-gray);
      margin-bottom: 12px;
      letter-spacing: var(--brand-letter-spacing);
      margin-bottom: 40px;
    }
    .about__container-title br {
      display: none;
    }
    .about__container-main-right {
      background-image: none;
    }
    .about__container-main-right br {
      display: none;
    }

    .about__container-main-img {
      content: url(/src/images/About/cow-T-768.png);
    }
  }
}

@media screen and(min-width:1200px) {
  .about {
    &__container-motto {
      font-size: 30px;
      line-height: 34px;
    }
    &__container-title {
      font-size: 58px;
      line-height: 66px;
      letter-spacing: var(--brand-letter-spacing);
      padding-bottom: 60px;
    }
    &__container-main {
      display: flex;
      gap: 99px;
      justify-content: center;
      
    }
    &__container-main {
      background-image: url(/src/images/About/milk-background-D-1200.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    &__container-main-first-text {
      font-size: 16px;
      line-height: 28px;
      letter-spacing: var(--brand-letter-spacing);
      margin-bottom: 32px;
    }
    &__container-main-second-text {
      font-size: 14px;
      line-height: 25px;
      color: var(--brand-color-gray);
      margin-bottom: 15px;
      letter-spacing: var(--brand-letter-spacing);
    }
    &__container-main-third-text {
      font-size: 14px;
      line-height: 25px;
      color: var(--brand-color-gray);
      letter-spacing: var(--brand-letter-spacing);
      margin-bottom: 40px;
    }
    &__container-main-img {
      content: url(/src/images/About/cow-D-1200.png);
    }
  }
}
