// styles for vars file
:root {
  --brand-color-red: #d41443;
  --brand-color-pink: #fea5bb;
  --brand-color-pink-label: #ffa5ba;
  --brand-color-pink-background: #fff5f6;
  --brand-color-pink-dark: #ffb8ca;
  --brand-color-background: #e5e5e5;
  --brand-color-gray: #907e82;
  --brand-color-white: #fff;
  --brand-color-black: #000;
  --brand-color-ghost: #ecebeb;
  --brand-font-weight: 500;
  --brand-font-weight-bold: 700;
  --brand-letter-spacing: 0.04em;
  --brand-font-family-Titan: 'Titan One';
  --brand-font-family-DM: 'DM Sans';
}

.advantages {
  background-color: var(--brand-color-pink-background);
  padding-top: 40px;

  &__container-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-bottom: 60px;
  }

  &__container-list-title {
    font-family: var(--brand-font-family-Titan);
    font-weight: 400;
    font-size: 36px;
    line-height: 41px;
    letter-spacing: var(--brand-letter-spacing);
    text-transform: uppercase;
    color: var(--brand-color-red);
  }
  &__container-list-details {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 28px;
    color: var(--brand-color-black);
  }

  &__container-list-item {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__container-list-third-svg {
    stroke: var(--brand-color-pink-label);
    fill: none;
  }
}

// Responsive Design

@media screen and (min-width: 768px) {
  .advantages {
    &__container-list {
      flex-direction: row;
      gap: 20px;
    }
    &__container-list-title {
      font-family: var(--brand-font-family-Titan);
      font-weight: 400;
      font-size: 48px;
      line-height: 55px;
      letter-spacing: var(--brand-letter-spacing);
      text-transform: uppercase;
      color: var(--brand-color-red);
    }
    &__container-list-details {
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 24px;
      color: var(--brand-color-black);
    }
  }
}

@media screen and(min-width:1200px) {
  .advantages {
    &__container-list {
      gap: 30px;
    }
    &__container-list-title {
      font-family: var(--brand-font-family-Titan);
      font-weight: 400;
      font-size: 58px;
      line-height: 66px;
      letter-spacing: var(--brand-letter-spacing);
      text-transform: uppercase;
      color: var(--brand-color-red);
    }
    &__container-list-details {
      font-family: var(--brand-font-family-DM);
      font-weight: 700;
      font-size: 16px;
      line-height: 28px;
      letter-spacing: 0.02em;
      color: var(--brand-color-black);
    }
  }
}
