.advantages {
    background-color: #FFF5F6;
    
    .advantages__list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    padding-bottom: 209px;
    }
    }