:root {
  --color1: #e1e1e1;
  --color2: #fff5f6;
  --color3: #ffffff;
  --color4: #f0d1a5;
  --color5: #000000;
  --color6: #ffa5ba;
  --color7: #907e82;
  --color8: #d41443;
  --color9: #ecebeb;
  --color10: #c2e297;
  --transition: cubic-bezier(0.4, 0, 0.2, 1);
}

* {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 186%;
  font-style: normal;
  font-family: 'DM Sans';
}

.unstyled-list {
  list-style: none;
}

.section-spacing {
  margin-bottom: 32px;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color2);
  padding-bottom: 40px;

  &__container {
    display: flex;
    flex-direction: column;
    background: var(--color3);
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    min-width: 280px;
    padding: 40px 40px 0px 40px;
    font-size: 12px;
  }

  &__cards-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0px 20px 0px 20px;
  }

  &__receptive {
    max-width: 400px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    padding-top: 8px;
  }

  &__crawler {
    color: var(--color3);
    border-radius: 6px;
    background: var(--color4);
    width: 75.1px;

    &--modifier {
      background: var(--color10);
      width: 165px;
    }
  }

  &__title {
    color: var(--color5);
  }

  &__copy {
    padding-top: 8px;
    color: var(--color7);
  }

  &__break {
    border: 1px solid var(--color1);
  }

  &__body {
    display: flex;
    flex-direction: column;
    margin: 32px 0px 32px 0px;
    gap: 12px;
  }

  &__body-section {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__program {
    color: var(--color6);
  }

  &__footer {
    margin-top: 32px;
  }

  &__address {
    display: flex;
    flex-direction: column;

    a {
      text-decoration: none;
      color: var(--color7);
      font-style: normal;

      &:hover {
        color: var(--color8);
        transition: var(--transition);
        transition-duration: 250ms;
      }
    }
  }

  &__buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 32px;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 161.45px;
    height: 44px;
    align-items: center;
    background-color: var(--color8);
    border-radius: 22px;
    border: none;
    cursor: pointer;
    text-align: center;
    color: var(--color3);
  }
  &__button--franchise {
    background-color: var(--color3);
    color: var(--color8);
  }
  &__button--franchise:hover,
  &__button--franchise:focus {
    background-color: var(--color9);
  }
}

@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 60px;

    &__cards-container {
      display: flex;
      flex-direction: row;
    }

    &__container {
      min-width: 224px;
      font-size: 14px;
      padding: 40px 32px 0px 32px;
    }

    &__receptive {
      max-width: 368px;
    }

    &__buttons-container {
      display: flex;
      flex-direction: row;
      margin-top: 0px;
    }

    &__button {
      width: 191.45px;
      height: 44px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 60px;

    &__cards-container {
      display: flex;
      flex-direction: row;
    }

    &__container {
      min-width: 368px;
      font-size: 16px;
    }

    &__receptive {
      max-width: 400px;
    }

    &__buttons-container {
      display: flex;
      flex-direction: row;
      margin-top: 0px;
    }

    &__button {
      width: 191.45px;
      height: 44px;
    }
  }
}
