$backgroud: #ffb8ca;
$text-color-white: #ffffff;
$color1: #d41443;
$color2: #ecebeb;

// * {
//   margin: 0px;
//   padding: 0px;
// }

%hero-title-styles {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $text-color-white;
}

.hero-header {
  background: $backgroud;
}

// Section container

.container-width {
  margin: 0px auto;
  // width: 1200px;
  width: 100%;
  height: 502px;
  // height: 100vh;
  position: relative;
}

// Header: Logo + Menu + Buy Button
.header {
  display: flex;

  &__logo {
    padding: 8px 0 0 20px;
    transition: transform 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__logo:hover {
    transform: translateX(60);
  }
}

.menu {
  display: none;
}

.button {
  padding-top: 40px;
  display: none;

  &__buy {
    width: 159px;
    height: 44px;

    background: $text-color-white;
    border-radius: 22px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: $color1;

    padding: 0px 0 0 37px;
    border-width: 0px;
  }

  &__buy:hover {
    @extend .button__buy;
    background: $color2;
  }

  &__svg {
    margin-left: 12px;
  }
} // End of header section styles (logo + menu + button)

// Hero Section styles

.hero-title {
  @extend %hero-title-styles;

  position: relative;
  z-index: 1;
  width: 300px;
  padding: 79px 0 20px 20px;
  // margin: 0px;
  transition: color 1500ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: $color1;
  }
  &:hover &__passion {
    color: $text-color-white;
  }

  &__passion {
    @extend %hero-title-styles;

    font-size: 48px;
    line-height: 46px;
    color: $color1;
    transition: color 2000ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.hero-btn {
  display: flex;
  gap: 8px;
  padding-left: 20px;
  position: relative;
  z-index: 1;

  &__products {
    width: 62.4px;
    height: 24px;
    background: $color1;
    border-radius: 20px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    color: $text-color-white;

    justify-content: center;
    padding: 0;
    border-width: 0;
  }
  &__products:hover {
    background: $text-color-white;
    color: $color1;
  }
  &__products--made {
    @extend .hero-btn__products;
    width: 82.8px;
    height: 24px;
    background: $text-color-white;
    color: $color1;
  }

  &__products--made:hover {
    background: $color2;
  }
}

.hero {
  &__elipse-svg {
    position: absolute;
    width: 346px;
    height: 344px;
    left: 36px;
    top: 83px;
    display: flex;
    z-index: 0;
    overflow: hidden;
  }

  &__svg-right-16 {
    display: none;
    position: absolute;
    top: 152px;
    left: 1112px;
    transition: transform 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__svg-right-16:hover {
    transform: rotate(360deg);
  }

  &__svg-right-23 {
    display: none;
    position: absolute;
    top: 244px;
    left: 1092px;

    transition: transform 2500ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__svg-right-23:hover {
    transform: rotate(360deg);
  }

  &__milk-pic {
    display: none;
    position: absolute;
    left: 16px;
    top: 388px;
  }

  &__icecream-pic {
    position: absolute;
    left: 117px;
    top: 92px;
  }

  &__girl-icecream {
    display: none;
    position: absolute;
    left: 880px;
    top: 423px;
    transition: transform 3500ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__girl-icecream:hover {
    transform: rotate(-360deg);
  }
}

.hero-bio-eco {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  left: 229px;
  top: 97px;

  &__arrow-right {
    display: none;
  }

  &__text {
    display: none;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: $text-color-white;

    animation: 3s anim-flipX ease infinite;
  }
  @keyframes anim-flipX {
    0% {
      opacity: 0;
      transform: rotateX(90def);
    }
    50% {
      opacity: 1;
      transform: rotateX(720deg);
    }
    100% {
      opacity: 1;
      transform: rotateX(720deg);
    }
  }
}

@media screen and (min-width: 768px) {
  .container-width {
    height: 416px;
  }
  .header__logo {
    padding: 32px 0 0 32px;
  }
  .menu {
    display: none;
  }

  .button {
    padding-top: 32px;
    display: block;
    &__buy {
      width: 160px;
      position: fixed;
      left: 576px;
    }
  }
  .hero-title {
    font-size: 22px;
    line-height: 25px;
    padding: 20px 0 20px 32px;

    &__passion {
      font-size: 34px;
      line-height: 31px;
    }
  }

  .hero-btn {
    gap: 8px;
    padding-left: 32px;

    &__products {
      width: 62.4px;
      height: 24px;
      font-size: 8px;
      line-height: 10px;
    }
    &__products--made {
      width: 82.8px;
    }
  }

  .hero {
    &__svg-right-16 {
      // width: 43px;
      // height: 44px;
      display: block;
      left: 693px;
      top: 92px;
    }
    &__svg-right-23 {
      // width: 51px;
      // height: 43px;
      display: block;
      left: 685px;
      top: 152px;
    }

    &__milk-pic {
      display: block;
      left: 32px;
      top: 246px;
    }
    &__elipse-svg {
      width: 335px;
      height: 333px;
      left: 248px;
      top: 43px;
    }
    &__icecream-pic {
      width: 143px;
      height: 336px;
      left: 322px;
      top: 80px;
    }
    &__girl-icecream {
      display: block;
      width: 190px;
      height: 150px;
      left: 546px;
      top: 265px;
    }
  }

  .hero-bio-eco {
    position: fixed;
    gap: 7px;
    left: 184px;
    top: 282px;
    &__text {
      display: block;
      font-size: 8px;
      line-height: 12px;
    }
    &__arrow-right {
      display: block;
    }
  }
}

@media screen and (min-width: 1280px) {
  .container-width {
    height: 664px;
  }
  .header__logo {
    padding: 37px 0 0 16px;
  }

  .menu {
    display: block;
    &__item {
      list-style: none;
    }

    &__link {
      text-decoration: none;
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 21px;
      display: flex;
      align-items: center;
      color: $text-color-white;
    }

    &__link:hover {
      color: $color1;
      cursor: pointer;
    }

    &__link--active {
      @extend .menu__link;
      color: $color1;
    }

    &__list {
      display: flex;
      flex-direction: row;
      gap: 35px;
      padding: 52px 141px 0px 128px;
      align-items: center;
      margin: 0px;

      position: relative;
      z-index: 2;
    }
  }
  .button {
    padding-top: 40px;
    &__buy {
      width: 159px;
      left: 1025px;
    }
  }
  .hero-title {
    font-size: 38px;
    line-height: 44px;
    padding: 60px 0 24px 16px;

    &__passion {
      font-size: 58px;
      line-height: 53px;
    }
  }

  .hero-btn {
    gap: 12px;
    padding-left: 16px;

    &__products {
      width: 107px;
      height: 40px;
      font-size: 14px;
      line-height: 18px;
    }
    &__products--made {
      width: 138px;
    }
  }

  .hero {
    &__svg-right-16 {
      width: 72px;
      height: 77px;
      top: 152px;
      left: 1112px;
    }
    &__svg-right-23 {
      width: 92px;
      height: 76px;
      top: 244px;
      left: 1092px;
    }

    &__milk-pic {
      left: 16px;
      top: 388px;
      width: 213px;
      height: 216px;
    }
    &__elipse-svg {
      width: 534px;
      height: 534px;
      left: 517px;
      top: 54px;
    }
    &__icecream-pic {
      left: 636px;
      top: 108px;
    }
    &__girl-icecream {
      left: 880px;
      top: 423px;
    }
  }

  .hero-bio-eco {
    position: relative;
    gap: 20px;
    left: 229px;
    top: 97px;

    &__text {
      font-size: 14px;
      line-height: 20px;
    }
  }
}
