<section class="about" id="about">
    <div class="about__container container">
        <p class="about__container-motto">tradition and love</p>
        <h2 class="about__container-title">how it's<br> made</h2>
        <div class="about__container-main">
            <div class="about__container-main-left">
                <picture>
                <source srcset="/src/images/About/cow-M-320.png 1x, /src/images/About/cow-M-320.png x2"/>
                <source srcset="/src/images/About/cow-T-768.png 1x, /src/images/About/cow-T-768.png x2"/>
                <source srcset="/src/images/About/cow-D-1200.png 1x, /src/images/About/cow-D-1200.png x2"/>
                <img class="about__container-main-img" src="/src/images/About/cow-M-320.png" width="280" height="279" alt="milk">
                </picture>
            </div>
            <div class="about__container-main-right">
                <p class="about__container-main-first-text">Fusce ut velit laoreet, tempus arcu eu,<br> molestie tortor. Nam vel justo cursus,<br> faucibus lorem eget, egestas eros.<br> Maecenas eleifend erat at justo fringilla.</p>
                <p class="about__container-main-second-text">Curabitur lacinia enim at ex blandit,<br> vel pellentesque odio elementum. <br>Mauris rhoncus orci in imperdiet <br>placerat. Vestibulum euismod nisl <br>suscipit ligula volutpat, a feugiat urna <br> maximus.Cras massa nibh, tincidunt.</p>
                <p class="about__container-main-third-text">Aliquam erat volutpat. Aenean accumsan.</p>
                <button class="about__container-main-button" type="button">Read more
                    <svg class="about__container-main-button-svg" width="8" height="10">
                        <use href="/src/images/About/about-icons.svg#about-svg"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>