<section class="about">
    <div class="container">
        <p class="about__motto">tradition and love</p>
        <h2 class="about__title">how it's made</h2>
        <div class="about__main-content">
            <div class="about__main-img-left">
                <img class="about__main-img-content" src="./images/About/home-pic41.png" width="501" height="501" alt="milk">
            </div>
            <div class="about__main-details-right">
                <p class="about__main-details-first-text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
                <p class="about__main-details-second-text">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</p>
                <p class="about__main-details-third-text">Aliquam erat volutpat. Aenean accumsan.</p>
                <button class="about__main-button" type="button">Read more
                    <svg class="about__main-button-svg" width="8" height="10">
                        <use href="/src/images/About/about-icons.svg#about-svg"></use>
                    </svg>
                </button>
            </div>
        </div>

    </div>
</section>