<section class="advantages">
<div class="advantages__container container">
    <h2 hidden>Advantages</h2>
    <ul class="advantages__container-list">
        <li class="advantages__container-list-item">
            <svg class="advantages__container-list-first-svg" width="33" height="50">
                <use href="/src/images/Advantages/avantages-icons.svg#icon-1"></use>
            </svg>
            <h3 class="advantages__container-list-title">
                721
            </h3>
            <p class="advantages__container-list-details">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages__container-list-item">
            <svg class="advantages__container-list-second-svg" width="49.69" height="50">
                <use href="/src/images/Advantages/avantages-icons.svg#icon-2"></use>
            </svg>
            <h3 class="advantages__container-list-title">
                16kg
            </h3>
            <p class="advantages__container-list-details">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages__container-list-item">
            <svg class="advantages__container-list-third-svg" width="44" height="50">
                <use href="/src/images/Advantages/avantages-icons.svg#icon-3"></use>
            </svg>
            <h3 class="advantages__container-list-title">
                84
            </h3>
            <p class="advantages__container-list-details">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
    </ul>
</div>
</section>