<section class="advantages">
<div class="container">
    <h2 hidden>Advantages</h2>
    <ul class="advantages__list">
        <li class="advantages__list-item">
            <h3 class="advantages__list-item-title">
                <svg class="advantages__list-item-first-svg" width="33" height="50">
                    <use href="/src/images/Advantages/avantages-icons.svg#icon-1"></use>
                </svg>
                721
            </h3>
            <p class="advantages__list-item-details">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages__list-item">
            <h3 class="advantages__list-item-title">
                <svg class="advantages__list-item-second-svg" width="49.69" height="50">
                    <use href="/src/images/Advantages/avantages-icons.svg#icon-2"></use>
                </svg>
                16kg
            </h3>
            <p class="advantages__list-item-details">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages__list-item">
            <h3 class="advantages__list-item-title">
                <svg class="advantages__list-item-third-svg" width="44" height="50">
                    <use href="/src/images/Advantages/avantages-icons.svg#icon-3"></use>
                </svg>
                84
            </h3>
            <p class="advantages__list-item-details">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
    </ul>
</div>
</section>