<html>
  <head>
    <meta charset="UTF-8" />
    <title>title</title>
  </head>
  <body>
    <section class="contacts-container">
      <article class="contacts">
        <div class="contacts__header">
          <h2 class="contacts__crawler section-spacing">CAFE</h2>
          <h2 class="contacts__title">Chicago</h2>
          <p class="contacts__copy section-spacing">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
          <span class="break"></span>
        </div>
        <div class="contacts__body">
          <ul class="contacts__body-section">
            <h2 class="contacts__days">Monday- Friday</h2>
            <h3 class="contacts__program">06:00 AM - 10:00 PM</h3>
          </ul>
          <ul class="contacts__body-section">
            <h2 class="contacts__days">Saturday - Sunday</h2>
            <h3 class="contacts__program">08:00 AM - 16:00 PM</h3>
          </ul>
        </div>
        <span class="break"></span>
        <footer class="contacts__footer section-spacing">
          <div class="contacts__actions">
            <address>
              <ul class="unstyled-list address">
                <li>
                  <a href="mailto:noreply@envato.com">noreply@envato.com</a>
                </li>
                <li>
                  <a href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
                </li>
              </ul>
            </address>
          </div>
        </footer>
      </article>

      <!-- contactss no.2 -->

      <article class="contacts">
        <div class="contacts__header">
          <h2 class="contacts__crawler section-spacing">FOOD TRUCK</h2>
          <h2 class="contacts__title">Los Angeles</h2>
          <p class="contacts__copy section-spacing">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
          <span class="break"></span>
        </div>
        <div class="contacts__body">
          <ul class="contacts__body-section">
            <h2 class="contacts__days">Monday- Friday</h2>
            <h3 class="contacts__program">06:00 AM - 10:00 PM</h3>
          </ul>
          <ul class="contacts__body-section">
            <h2 class="contacts__days">Saturday - Sunday</h2>
            <h3 class="contacts__program">08:00 AM - 16:00 PM</h3>
          </ul>
        </div>
        <span class="break"></span>
        <footer class="contacts__footer section-spacing">
          <div class="contacts__actions">
            <address>
              <ul class="unstyled-list address">
                <li>
                  <a href="mailto:noreply@envato.com">noreply@envato.com</a>
                </li>
                <li>
                  <a href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
                </li>
              </ul>
            </address>
          </div>
        </footer>
      </article>

      <!-- contactss no.3 -->

      <article class="contacts">
        <div class="contacts__header">
          <h2 class="contacts__crawler section-spacing">CAFE</h2>
          <h2 class="contacts__title">New York</h2>
          <p class="contacts__copy section-spacing">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
          <span class="break"></span>
        </div>
        <div class="contacts__body">
          <ul class="contacts__body-section">
            <h2 class="contacts__days">Monday- Friday</h2>
            <h3 class="contacts__program">06:00 AM - 10:00 PM</h3>
          </ul>
          <ul class="contacts__body-section">
            <h2 class="contacts__days">Saturday - Sunday</h2>
            <h3 class="contacts__program">08:00 AM - 16:00 PM</h3>
          </ul>
        </div>
        <span class="break"></span>
        <footer class="contacts__footer section-spacing">
          <div class="contacts__actions">
            <address>
              <ul class="unstyled-list address">
                <li>
                  <a href="mailto:noreply@envato.com">noreply@envato.com</a>
                </li>
                <li>
                  <a href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
                </li>
              </ul>
            </address>
          </div>
        </footer>
      </article>
    </section>
  </body>
</html>
