<html>
  <head>
    <meta charset="UTF-8" />
    <title>title</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css"
    />
  </head>
  <body>
    <section class="contacts">
      <div class="contacts__cards-container">
        <article class="contacts__container contacts__receptive">
          <div class="contacts__header">
            <h2 class="contacts__crawler section-spacing">CAFE</h2>
            <h2 class="contacts__title">Chicago</h2>
            <p class="contacts__copy section-spacing">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
            <span class="contacts__break"></span>
          </div>
          <div class="contacts__body">
            <ul class="contacts__body-section">
              <h2 class="contacts__days">Monday- Friday</h2>
              <h3 class="contacts__program">06:00 AM - 10:00 PM</h3>
            </ul>
            <ul class="contacts__body-section">
              <h2 class="contacts__days">Saturday - Sunday</h2>
              <h3 class="contacts__program">08:00 AM - 16:00 PM</h3>
            </ul>
          </div>
          <span class="contacts__break"></span>
          <footer class="contacts__footer section-spacing">
            <div class="contacts__actions">
              <address>
                <ul class="unstyled-list contacts__address">
                  <li>
                    <a href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
                  </li>
                  <li>
                    <a href="mailto:noreply@envato.com">noreply@envato.com</a>
                  </li>
                </ul>
              </address>
            </div>
          </footer>
        </article>

        <!-- contactss no.2 -->

        <article class="contacts__container contacts__receptive">
          <div class="contacts__header">
            <h2
              class="contacts__crawler contacts__crawler--modifier section-spacing"
            >
              FOOD TRUCK
            </h2>
            <h2 class="contacts__title">Los Angeles</h2>
            <p class="contacts__copy section-spacing">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
            <span class="contacts__break"></span>
          </div>
          <div class="contacts__body">
            <ul class="contacts__body-section">
              <h2 class="contacts__days">Monday- Friday</h2>
              <h3 class="contacts__program">06:00 AM - 10:00 PM</h3>
            </ul>
            <ul class="contacts__body-section">
              <h2 class="contacts__days">Saturday - Sunday</h2>
              <h3 class="contacts__program">08:00 AM - 16:00 PM</h3>
            </ul>
          </div>
          <span class="contacts__break"></span>
          <footer class="contacts__footer section-spacing">
            <div class="contacts__actions">
              <address>
                <ul class="unstyled-list contacts__address">
                  <li>
                    <a href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
                  </li>
                  <li>
                    <a href="mailto:noreply@envato.com">noreply@envato.com</a>
                  </li>
                </ul>
              </address>
            </div>
          </footer>
        </article>

        <!-- contactss no.3 -->

        <article class="contacts__container contacts__receptive">
          <div class="contacts__header">
            <h2 class="contacts__crawler section-spacing">CAFE</h2>
            <h2 class="contacts__title">New York</h2>
            <p class="contacts__copy section-spacing">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
            <span class="contacts__break"></span>
          </div>
          <div class="contacts__body">
            <ul class="contacts__body-section">
              <h2 class="contacts__days">Monday- Friday</h2>
              <h3 class="contacts__program">06:00 AM - 10:00 PM</h3>
            </ul>
            <ul class="contacts__body-section">
              <h2 class="contacts__days">Saturday - Sunday</h2>
              <h3 class="contacts__program">08:00 AM - 16:00 PM</h3>
            </ul>
          </div>
          <span class="contacts__break"></span>
          <footer class="contacts__footer section-spacing">
            <div class="contacts__actions">
              <address>
                <ul class="unstyled-list contacts__address">
                  <li>
                    <a href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
                  </li>
                  <li>
                    <a href="mailto:noreply@envato.com">noreply@envato.com</a>
                  </li>
                </ul>
              </address>
            </div>
          </footer>
        </article>
      </div>
      <div class="contacts__buttons-container">
        <button
          class="contacts__button menu-toggle js-open-menu"
          aria-expanded="false"
          aria-controls="mobile-menu"
        >
          <span>Our Locations</span>
          <svg width="10px" height="10px" fill="#fff">
            <use href="./images/icons.svg#icon-vector"></use>
          </svg>
        </button>
        <button
          type="submit"
          class="contacts__button contacts__button--franchise"
        >
          <span>Franchise</span>
          <svg width="12px" height="10px">
            <use href="./images/icons.svg#icon-vector-red"></use>
          </svg>
        </button>
      </div>
    </section>
  </body>
</html>
